<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./companyDetails.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div>
        <!-- Replace navbar Ejs -->
        <!-- <div class="test">
            <h1>NavBar</h1>
        </div> -->
        <!-- Company Container -->

        <div class="companyConatiner">
            <!-- Header part -->
            <div class="companyTitle">
                <div class="companyImg">
                    <img src="./assets/company-logo-transparent-png-19.png" alt="rendering image...">
                </div>
                <h1 class="companyNameTag">Company 1</h1>
            </div>

            <!-- Company Details Container -->
            <div class="companyDetailsContainer">
                <div id="tocDesktop" class="companyField1 toc-2">
                    <h2 class="toc-h2 ">On this page</h2>
                    <br>
                    <a class="tocitem" href="#toc-0">INTRODUCTION</a>
                    <a class="tocitem active" href="#toc-1"> PROFIT MARGINS</a>
                    <a class="tocitem " href="#toc-2">REVENUE</a>
                    <a class="tocitem " href="#toc-0">INTRODUCTION</a>
                    <a class="tocitem " href="#toc-1"> PROFIT MARGINS</a>
                    <a class="tocitem" href="#toc-2">Xyz</a>
                </div>
                <div class="companyField2">
                    <div class="inner">
                        <h1 id="toc-0">Introduction</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias modi error voluptatibus.
                            Maiores maxime totam quisquam saepe nobis libero nisi, similique perferendis, recusandae
                            aliquam suscipit, minus voluptas accusamus voluptatum ducimus. Magni quasi quo rerum nulla
                            eius similique laboriosam magnam aperiam obcaecati voluptatibus dicta unde, libero,
                            architecto rem dolorem, porro explicabo illum eaque corporis non mollitia asperiores at.
                            Sunt, blanditiis atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                            eligendi obcaecati sapiente dignissimos eaque voluptatum voluptate et nesciunt possimus in.
                            Saepe delectus ullam nihil dolores aut, eos esse deleniti laborum dicta, placeat asperiores?
                            Minima eligendi ex alias ratione. Odio adipisci sit, at quae consequuntur ut officia fugiat
                            voluptatibus rerum quod aut iure, quidem minima nostrum illum iste voluptas quaerat
                            assumenda fuga asperiores magni corrupti nihil sint vero. Cum eligendi beatae deleniti.
                            Repellendus, error eos pariatur eveniet veniam repellat esse dicta? Lorem ipsum dolor sit
                            amet consectetur adipisicing elit. Vitae dolorum neque nam quod odio praesentium quam
                            expedita assumenda deleniti, tempore delectus iure modi rerum, sed, laborum enim tempora
                            necessitatibus natus illum recusandae ipsam architecto officia iste. Doloribus nostrum
                            doloremque fuga facere dolorum ut, at nisi numquam quo! Officia dignissimos repellat vitae,
                            maiores veniam fugit omnis aliquid. Officiis, quidem? Dolorum, quod quo! Esse, mollitia
                            dignissimos. Aut ad voluptatibus molestiae voluptatem quaerat, eum ea enim amet aliquam
                            nihil excepturi non, soluta pariatur id delectus et harum corporis. Labore facere qui rerum
                            tenetur quibusdam sit maxime quae tempore voluptatum deleniti, eius impedit numquam?</p>
                        <br>
                        <hr>
                        <br>
                        <h1 id="toc-1">PROFIT MARGINS</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sapiente quidem
                            delectus saepe quae doloribus et consequatur dolorum aliquam dolore molestiae libero, est
                            nulla amet quas impedit excepturi nostrum, suscipit eos perferendis corrupti accusamus
                            labore? Dolores ipsum totam libero sequi dolorem officiis ea. Sit iusto rem harum fuga
                            libero eos magni debitis quaerat blanditiis? Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Molestias aut fugiat molestiae nemo maiores saepe porro reprehenderit a
                            impedit dignissimos, incidunt est ducimus id, provident, tenetur minima aliquid excepturi
                            nesciunt doloremque odio delectus corporis. Itaque hic atque culpa ipsam provident,
                            perferendis explicabo nemo ut nam consequuntur assumenda optio necessitatibus minima eum
                            debitis illum vitae adipisci aliquam nostrum maiores corporis deserunt! Quisquam, labore.
                            Commodi quisquam sequi, impedit reiciendis minus earum ducimus voluptates, explicabo sunt
                            magnam nesciunt cupiditate totam. Cupiditate, rerum porro. Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Eligendi exercitationem quaerat voluptatem suscipit quas rerum
                            ab est dolores consequatur expedita aliquam provident natus, impedit dolore sit ex mollitia.
                            Ducimus consequatur, inventore hic laudantium voluptatem fugiat sunt enim quasi deserunt sed
                            quod officia ullam eveniet tempora. Libero labore dicta eum impedit aliquam quod,
                            necessitatibus eveniet reprehenderit. Dicta reprehenderit nisi numquam dolor corporis
                            voluptatem? Porro nesciunt, consequuntur molestias aut laborum minima, quod magnam illo
                            harum, mollitia id! Accusamus doloribus nostrum officiis omnis! Illo minima consequatur
                            maiores asperiores cupiditate! Possimus explicabo delectus odio officia. Perferendis dicta
                            officia accusamus mollitia ullam consectetur maxime autem.</p>
                        <br>
                        <hr>
                        <br>
                        <h1 id="toc-2">REVENUE</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et accusantium laborum
                            illo fugit fuga sint quaerat maxime minima ullam impedit animi, aspernatur vel labore ipsa
                            suscipit nam culpa eaque laudantium sunt atque perspiciatis omnis consequuntur nesciunt eos.
                            Autem sed laborum est amet dolores, ea eaque ducimus minima quia natus id eveniet porro eius
                            cupiditate dolorem, provident iste blanditiis, dolorum itaque ipsum sequi ex? Laboriosam,
                            ratione sequi autem illum pariatur expedita et quisquam labore cupiditate adipisci soluta
                            beatae molestiae fugiat! Accusamus! Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Itaque dolor aliquam quae nesciunt asperiores quas sunt nam odit voluptatibus. Eum
                            asperiores nihil nulla ab voluptatibus officia, natus assumenda adipisci veritatis impedit
                            ipsum dolores quos accusamus vel voluptas. Libero non et quas architecto suscipit adipisci?
                            Ab fugiat dolorem culpa possimus veniam inventore tenetur ut, perferendis corrupti
                            reiciendis odit nam ad libero vel exercitationem? Maxime at placeat pariatur corrupti velit
                            nihil excepturi sit incidunt laudantium, expedita ut, vitae similique, ullam dolorem a?
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut dolore quaerat eaque repellat
                            maxime facere molestiae neque consequuntur voluptatum suscipit cupiditate quos beatae non
                            totam dignissimos vero soluta, reiciendis ex? Quibusdam esse, sed dolores ullam eaque in ad
                            officiis aut ut, quae minima adipisci voluptates tempora harum delectus, soluta aperiam.
                            Optio saepe placeat sed consequuntur quas recusandae quis repellat neque! Odio, iure ad a
                            fugit odit illum culpa voluptates non nostrum omnis, soluta quo harum tempore facilis est
                            vitae vero quidem dicta repellat itaque deserunt aperiam. Sapiente, vero a. Molestiae itaque
                            nihil quidem aperiam est dolorem at eum, in dolor.</p>
                        <br>
                        <hr>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script>
        document.querySelectorAll('.tocitem').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);

                if (targetElement) {
                    targetElement.scrollIntoView({
                        behavior: 'smooth'
                    });
                }
            });
        });
    </script>
</body>

</html>