<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./companyDetails.css">
    <title>Document</title>
</head>

<body>
    <div>
        <!-- Replace navbar Ejs -->
        <div class="test">
            <h1>NavBar</h1>
        </div>
        <!-- Company Container -->
        <div style="border: 2px solid green;">
            <!-- Header part -->
            <div class="companyTitle">
                <div class="companyImg">
                    <h2>Image</h2>
                </div>

                <h1 class="companyNameTag">Company 1</h1>
            </div>

            <!-- Company Details Container -->
            <div class="companyDetailsContainer">
                <div class="companyField1">
                    <h1>Field1</h1>
                </div>
                <div class="companyField2">
                    <h1>Field2</h1>
                </div>
            </div>
            
        </div>
    </div>



</body>

</html>